#photo{
    width: 60%;
    height: 60%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         9px 9px 7px rgba(50, 50, 50, 0.3);
    margin-bottom: 15px;
}