<section id="banner" class="py-5 d-none d-sm-block">
    <div class="primary-overlay ">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-left">
                    <h1 class="display-6 pt-4">
                        Lucas Santos de Oliveira
                    </h1>
                    <p class="text- text-secondary">
                        computational human dynamics
                    </p>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
</section>