#banner{
    position: relative;
    background: url('../img/cropped.png');
    min-height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    
  
    .primary-overlay{
      background: rgba(255,255,255,0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #015484
    }
  }